:root {
  /* FONTS */
  --primary-font: 'Manrope',
    sans-serif;

  /* PRIMARY COLORS */
  --cyan-sm: hsl(174, 77%, 80%);
  --cyan-lg: hsl(174, 86%, 45%);
  --greyred-sm: hsl(14, 92%, 95%);
  --red-sm: hsl(15, 100%, 70%);
  --blue-sm: hsl(226, 100%, 87%);

  /* NEUTRAL COLORS */
  --white: hsl(0, 0%, 100%);
  --blue-xs: hsl(228, 100%, 99%);
  --greyblue-sm: hsl(224, 65%, 95%);
  --greyblue-xs: hsl(223, 50%, 87%);
  --greyblue-base: hsl(225, 20%, 60%);
  --greyblue-lg: hsl(227, 35%, 25%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: var(--blue-xs);
}


/* MAIN */
main {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/bg-pattern.svg");
  background-repeat: no-repeat;

  display: grid;
  place-items: center;
}

/* main --> dark mode */
main.dark-mode {
  filter: invert(100) opacity(0.9) hue-rotate(180deg);
  background-color: var(--greyblue-xs);
}


/* BANNER SECTION */
.bannerSection {
  background: url("/assets/images/pattern-circles.svg") center center/contain no-repeat;
  text-align: center;
}

.bannerSection h1 {
  font: normal 600 1.2rem/2.2rem var(--primary-font);
  color: var(--greyblue-lg);
}

.bannerSection sub {
  font: normal 500 1rem/1.2rem var(--primary-font);
  color: var(--greyblue-base);
}

/* PRICING SECTION */
.pricingSection {
  background: var(--white);
  width: 90vw;
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
  padding: 3rem;

  display: grid;
  gap: 3rem;

  box-shadow: 0 0 10px var(--greyblue-base);
}

.sliderPart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.pageViews {
  grid-column: 1;
  font: normal 600 1rem/1rem var(--primary-font);
  color: var(--greyblue-base);
  text-transform: uppercase;
}

.billingPeriod {
  grid-column: 2;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.3rem;
  letter-spacing: 0.05rem;
}

.billPrice {
  font: normal 600 1.5rem/1.5rem var(--primary-font);
  color: var(--greyblue-lg);
}

.month {
  font: normal 600 0.8rem/1rem var(--primary-font);
  color: var(--greyblue-base);
}

.slider {
  grid-column: 1/3;
  grid-row: 2;
  outline: none;
  border: none;
  cursor: pointer;
}

/* THEME TOGGLE BUTTON */
.themeToggleButton {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 300ms ease-in-out;

  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;

  background: var(--greyblue-lg);

  display: grid;
  place-items: center;
}

.themeToggleButton:hover {
  box-shadow: 0 0 2rem var(--greyblue-lg);
  background: none;
}

/*  MONTH-YEAR TOGGLE */
#priceToggle {
  height: 0;
  width: 0;
  visibility: hidden;
}

.priceToggleLabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 3.5rem;
  height: 1.5rem;
  background: var(--greyblue-base);
  display: block;
  border-radius: 1rem;
  position: relative;
}

.priceToggleLabel:after {
  content: '';
  position: absolute;
  top: 0.25rem;
  left: 0.3125rem;
  width: 1rem;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

#priceToggle:checked+.priceToggleLabel {
  background: var(--cyan-lg);
}

#priceToggle:checked+.priceToggleLabel:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.priceToggleLabel:active:after {
  width: 1rem;
}


/* PRICE TOGGLE SECTION */

.priceToggleSection {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  gap: 1rem;
}

.priceToggleSection span {
  font: normal 600 0.8rem/1.2rem var(--primary-font);
  color: var(--greyblue-base);
  text-transform: capitalize;
  opacity: 0.8;
}

.discount {
  color: var(--red-sm) !important;
  background: var(--greyred-sm);
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

/* STATIC ELEMENTS PART */
.staticElements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--greyblue-sm);

  /* padding: 4rem 1rem 2rem 1rem; */
  padding: 1rem 0 0 0;
}

.staticElements ul {
  list-style: none;
  display: grid;
  gap: 0.3rem;
}

.staticElements ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;

  font: normal 500 1rem/1.2rem var(--primary-font);
  color: var(--greyblue-base);
}

.staticElements ul li img {
  width: 1rem;
}

.staticElements button {
  background: var(--greyblue-lg);
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 1rem;

  font: normal 600 0.8rem/1.2rem var(--primary-font);
  color: var(--greyblue-xs);
  letter-spacing: 0.05rem;

  cursor: pointer;
}

/* BREAKPOINT ---> 480px */
@media only screen and (max-width: 480px) {
  * {
    font-size: 14px;
  }

  .pricingSection {
    padding: 1rem 0;
  }

  .staticElements {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0 0 0;
    gap: 2rem;
  }

  .staticElements ul li {
    justify-content: center;
  }

  .sliderPart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: 1rem 1.5rem;
  }

  .slider {
    grid-row: 2/3;
    /* grid-row: 2; */
    grid-column: 1;
    width: 100%;
  }

  .pageViews {
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
  }

  .billingPeriod {
    width: 100%;
    justify-content: center;
    grid-column: 1;
    grid-row: 3/3;
  }

}